*{
    font-family: 'Open Sans', sans-serif;
}

.box{
    box-sizing:border-box;
    color:#fff;
    /*width: 900px;*/
}
.header{
    background: #2a3137;
    height: 35px;
    color:#fff;
    border-bottom:1px solid #14181b;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    
}

.box.search{
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    flex:0 1 300px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

}

.box.panel{
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    border-bottom: 1px solid #dadada;
    flex:5;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 15px;


}


.box.chat{
    flex:5;
    padding: 0px;
    
}



/*flex*/


.global_wrapper{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction:column;
}
.local_wrapper{
    flex:5;
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    box-sizing:border-box;
}

.local_wrapper.w1{
    flex:0 0 90px;
}

.box.chat{
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.window{
    display: flex;
    flex-direction:column;
    box-sizing:border-box;

}

.window.main{
    flex:1;
}

.window.side{
    background: #fff;
    flex:0 1 316px;
}

.window.side.wide{
    flex:0 1 27px;
}


.block.posts{
    flex:1 1 300px;
    background: #f4f4f4;
    display: flex; 
    align-items:flex-start;
    justify-content:center;
}

.comments_container{
    flex:0 1 640px;
}

.text_container{
    margin: 0 14px;
}

.main .block.posts{
    overflow-y:scroll;
}

.block.write{
    flex:0 0 75px;
    background: linear-gradient(to bottom, #efefef, #e8e8e8);
    border-top: 1px solid #d9d9d9;
    display: flex;
    /*flex-direction:column;*/   
    align-items:center;
    justify-content:center;
}


.sideblock.posts{
    flex:1 1 auto;
    display: flex;
    align-items:flex-start;
    color: #000;
}

.arrow{
    height: 16px;
    width: 16px;
    background: url(../img/arrow.png) no-repeat 100% 50%;
    cursor: pointer;
    align-self:center;
}

.arrow.open{
   background: url(../img/arrow_open.png) no-repeat 100% 50%; 
}

.participants{
    flex:2;
    padding: 20px 25px;
}
.participants p{
    font-size: 14px;
    padding-left: 10px;
    color: #232630;
}

.title{
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
    font-weight: bold;
}

.sideblock.write{
    flex:0 0 75px;
    background: #ccc;
}

.sector{
    border:1px solid #dfdfdf;
    background: #fcfcfc;
    border-radius: 5px;
    /*width: 640px;*/
    max-width: 100%;
    flex:1;
    margin: 20px;
    padding: 14px;
    color: #000;
    box-sizing:border-box;
    display: flex;
    align-items:flex-start;
}


.sector p{
    margin: 5px 0;
    font-size: 14px;
}

.sector span{
    font-size: 13px;
    color: #b6b6b6;
}

.sector.make{
    border:1px solid #dadada;   
    position: relative;
    flex:1 1 54px;
    /*height: 54px;*/
    padding: 0px;
    cursor: text;
    margin:0 20px;
    left: -8px;
    color: #b3b3b3;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.chat_buttons{
    display: flex;
    flex-wrap: wrap;
}

.chat_buttons a{
    margin: 0 6px;

}

.sector.make textarea{
    display:flex;
    flex:1;
    padding: 10px 12px;
    padding-top: 15px;
    box-sizing:border-box;
    height: 54px;
    width: 100%;
    border: none;
    resize: none;
    vertical-align: center;
    justify-content:center;
}

/*HEADER*/
.green_disk{
    height: 18px;
    width: 18px;
    background: #88c342;
    border-radius:9px;
    border: 1px solid #1c2125;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7);
    box-sizing:border-box;
}

.header img{
    border: 1px solid #1c2125;
    margin:0 10px; 
    width:25px; 
    height:25px;
}

.header span{
   margin-right:80px;
}


/*SEARCH BLOCK*/
.box.search input{
    flex:2;
    height: 0px;
    color: #a8abb0;
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background: #fff url(../img/search.png)no-repeat 21px 50%;
    border: none;
}

.chat_button{
    border-top: 1px solid #dadada;
    height: auto;
    flex:1;
    background: #f0f0f0 url(../img/chat_icon.png)no-repeat 50% 50%;
    width: 100%;
}

.test_block{
    height: 50px;
    width:50px;
}
.conversation_block{
    font-size:14px;
    display: flex;
    flex-direction:column;
    height: 62px;
    flex-wrap: wrap;
    color: #000;
    justify-content:flex-end;
}

.conversation_block .members{
    color:#293134;
}

.conversation_block .members_number{
    color:#293134;
    color:#7d7a81; 
    font-weight:600; 
}

.conversation_block .member_name{
    color:#53535d; 
    margin-bottom:1px; 
}



.profile_pic{
    height: 62px;
    width:62px;
    margin-right:15px;
    padding: 2px;
    background:#fff;
    box-sizing:border-box;
    border:1px solid #e5e5e5;
}

.profile_pic div{
    background: #f7ca00;
    height: 56px;
    width: 56px;
}


.start_conference{
    height: 38px;
    border-radius: 19px;
    border:1px solid #62933a;
    background: linear-gradient(to bottom, #88c641, #7bb23b);
    font-size: 16px;
    line-height: 38px;
    padding: 0 16px;
    cursor: pointer;

}

.start_conference:hover{
    background: linear-gradient(to top, #88c641, #7bb23b);
}
/*SELECT TALK*/
.left_column{
    display: flex;
    flex-direction:column;
    background: red;
    flex:0 1 300px;
    box-sizing:border-box;
    border-right: 1px solid #dadada;
}


.communities_wrapper{
    display: flex;
    width: 100%;
    flex:1;   
}

.comments_container.left{
    flex:0 1 300px;
}

.box.communities{
    background: #f9f9f9;
    border-right: 1px solid #dadada;
    display: flex;
    flex-direction:column;

}


.select_talk{
    /*flex:;*/
    background: #fff;
    border-bottom: 1px solid #dadada;
    display: flex;
    /*min-height: 70px;*/
    align-items:flex-start;
    padding: 7px 14px;
    box-sizing:border-box;
    color: #20262d;
    font-size: 14px;
    justify-content:space-between;
    /*margin: 10px 0;*/
}

.img_wrapper{
    padding:2px;
    background: #fff;
    border:1px solid #e5e5e5;
}

.select_talk > span{
    color: #7c7b81;
    font-size: 12px;
}

.caption{
    flex:2;
    padding-left: 10px;
}

.caption p{
    margin: 0px;
}

.caption span{
    color: #b1b3b8;
}


/*AMENDMENTS*/
.chatfield_wrapper{
    display: flex;
    flex:1;
    flex-direction:column;

}

.box.chat{
    flex:1;
    padding: 0px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.write_comment_block{
    flex:0 0 75px;
    background: linear-gradient(to bottom, #efefef, #e8e8e8);
    border-top: 1px solid #d9d9d9;
    display: flex;  
    align-items:center;
    justify-content:center;
}

.com_block{
    display: flex;
    flex:1;
    justify-content:center;
}
.buffer_zone{
    flex:0 1 316px;
}
.buffer_zone.wide{
    flex:0 1 27px;
}